<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reddit API - 10 latest hot frontend topics from reddit</title>
  <link rel="stylesheet" href="/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script><script type="text/javascript">google.load("jquery", "1");</script>
  <script src="../js/main.js"></script>

</head>
<body>

  <h1>What's hot on Reddit r/Frontend right now?</h1>

  <ul id="posts"></ul>
	
</body>
</html>
