<!DOCTYPE html>
<html lang="en">
<head>

  <script type="text/javascript" src="http://www.google.com/jsapi"></script><script type="text/javascript">google.load("jquery", "1");</script>

	<title>Reddit API - 5 latest hot frontend topics from reddit</title>
  <meta charset="UTF-8">
</head>
<body>

  <h1>Reddit</h1>

  <ul id="posts"></ul>

	<script>
    $.ajax({
        url: '/reddit',
        type: 'get',
        success: function (data) {
          for (var i = 0; i < data.length; i++) {
            $('#posts').append('<li>' + '<a href="' + data[i].url + '">' + data[i].title + '</a>' + '</li>');
          }
        }
      });
  </script>
	
</body>
</html>
