body {
  font-family: "Open Sans";
}  

/* Main section styles
-------------------------------------------------- */

#main {
  max-width: 1170px;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 10em;
}

.title {
  margin-top: 1em;
}

.centered {
  text-align: center;
}

